<div class="center hero-unit">
<h1>Welcome to my sample application. I hope you enjoy it and like it so much.</h1>
<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>